.container-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttonScheduling {
  width: 50%;
  background-color: #9282fa;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 900;
  color: #050505;
  box-shadow: 0 0 20px 2px rgba(146, 130, 250, 0.6);
  transition: box-shadow 0.3s ease;

  cursor: pointer;
}

.buttonScheduling:hover {
  box-shadow: 0 0 20px 2px rgba(146, 130, 250, 0.8);
}
