.container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 80%;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 2rem;
}

.agenda-info h1 {
  margin: 0;
}

.agenda-info p {
  margin-top: 8px;
  max-width: 100%;
}

.date-selector {
  background-color: transparent;
  border: 1px solid #3e3c41;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #98959d;

  background-image: url("../assets/calendar.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;

  padding-left: 45px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.container-main-daily-schedule {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 900px) {
  .container {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 90%;
    height: auto;
    margin: 2rem auto;
    padding-bottom: 0.5rem;
  }

  .container-header {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }
}
